{
  "presets": [
    ["@babel/preset-env", {
      "targets": {"node": "current", "browsers": "> 5%"}
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["@babel/plugin-proposal-decorators", {
      "legacy": true
    }],
    ["@babel/plugin-proposal-class-properties", { "loose" : true }],
    "@babel/plugin-proposal-object-rest-spread",
    "es6-promise",
    ["module-resolver", {
      "root": ["."]
    }]
  ]
}
