@import "../../node_modules/semantic-ui-css/semantic.css";
@import '../../node_modules/codemirror/lib/codemirror.css';

html.ios {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
    height: initial !important;
}

html, body, pre, code {
    margin: 0;
}

.CodeMirror {
    height: calc(100vh - 100px);
}
